*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.tengah{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cd{
    width: 70vw;
    height: 300px;
    margin-bottom: 30px;
    /*border: 1px solid rgb(185, 185, 185);*/
    box-shadow: 0px 6px 30px -10px rgba(118,130,183,1);
}
.cd2{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cd2 .imgBx{
    width: 35%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cd2 .imgBx .hias{
    border: 4px solid #163447;
    position: absolute;
    width: 270px;
    height: 250px;
}
.cd2 .imgBx img{
    width: 88%;
    height: 90%;
}
.cd2 .isik{
    width: 65%;
    height: 300px;
}


.kurung{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.base{
    width: 30%;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.mid{
    width: 5%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.is{
    width: 75%;
    height: 30px;
    display: flex;
    padding-left: 10px;
    align-items: center;
}
.btnd{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 40px;
}
.btnd a{
    color: #fff;
    text-decoration: none;
}
.btnd .red{
    background-color: red;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnd .blue{
    background-color: rgb(72, 137, 197);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}